@model IEnumerable<EcomemerceASP_NET.ViewModels.KhachHangVM>


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h4 class="card-title">Add User</h4>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4"></div>
            </div>
         </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Họ Tên: activate to sort column descending" style="width: 200px;">Họ Tên</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Ngày sinh: activate to sort column ascending" style="width: 200px;">Ngày sinh</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Địa chỉ: activate to sort column ascending" style="width: 300px;">Địa chỉ</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Số điện thoại: activate to sort column ascending" style="width: 150px;">Số điện thoại</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Thao Tác: activate to sort column ascending" style="width: 150px;">Thao Tác</th>
                        </tr>
                    </thead>
                                <tbody>
                                    @* Xử lý vòng lặp *@
                                     @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                    <tr role="row" class="odd">
                                    <td>@item.HoTen</td>
                                    <td>@item.NgaySinh</td>
                                    <td>@item.DiaChi</td>
                                    <td>@item.DienThoai</td>
                                        <td>
                                            <div class="form-button-action">
                                            <button class="btn btn-link btn-danger btn-delete-uesr" data-id="@item.MaKh">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            </div>
                                        </td>
                                </tr>
                                    }
                                }
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<!-- DataTables Bootstrap Integration -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<!-- DataTables Bootstrap Integration -->
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- SweetAlert2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.min.css" rel="stylesheet">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.all.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#add-row').DataTable({
            language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiển thị _MENU_ dòng",
                zeroRecords: "Không tìm thấy kết quả",
                info: "",
                infoFiltered: "",
                paginate: {
                    first: "&#60;&#60;",
                    last: "&#62;&#62;",
                    next: "&#8594;",
                    previous: "&#8592;"
                }
            },
            paging: true,
            ordering: true,
            info: true
        });
    });

    $(document).ready(function () {
        $('.btn-delete-uesr').click(function (e) {
            e.preventDefault();
            const maKh = $(this).data('id');
            const row = $(this).closest('tr');

            Swal.fire({
                title: 'Bạn có chắc không?',
                text: "Bạn sẽ không thể khôi phục lại khách hàng này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đúng, xóa nó!',
                cancelButtonText: 'Hủy bỏ'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/DeleteUser',
                        type: 'POST',
                        data: { MaKh: maKh },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'Đã xóa!',
                                    response.message,
                                    'success'
                                );
                                row.remove();
                            } else {
                                Swal.fire(
                                    'Lỗi!',
                                    response.message,
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Lỗi!',
                                'Có lỗi xảy ra khi xóa!',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });
</script>
