@model IEnumerable<EcomemerceASP_NET.ViewModels.ProductVM>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center mt-2 w-100">
                <h4 class="card-title ms-auto">Add Product</h4>
                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal">
                    <i class="fa fa-plus"></i>
                    Add Product
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                </div><div class="row">
                    <div class="col-sm-12">
                        <table id="ql_product" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Tên sản phẩm: activate to sort column descending" style="width: 168.962px;">Tên sản phẩm</th>
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Loại: activate to sort column ascending" style="width: 261.438px;">Loại</th>
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Đơn giá: activate to sort column ascending" style="width: 127.912px;">Đơn giá</th>
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Hình: activate to sort column ascending" style="width: 50.875px;">Hình</th>
                                    <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Thao Tác: activate to sort column ascending" style="width: 150px;">Thao Tác</th>

                                </tr>
                            </thead>
                            <tbody>


                                @* Xử lý vòng lặp *@

                                @* Dữ liệu kiểu mẫu*@
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">@item.TenHH</td>
                                            <td>@item.TenLoai</td>
                                            <td>@item.DonGia</td>
                                            <td>
                                                <img src="/Hinh/HangHoa/@item.Hinh" alt="@item.TenHH" style="width: 100px; height: auto;" />
                                            </td>
                                            <td>
                                                <div class="form-button-action">
                                                    <button class="btn btn-link btn-primary btn-lg edit-product" data-id="@item.MaHh" data-bs-toggle="modal" data-bs-target="#editRowModal">
                                                        <i class="fa fa-edit"></i>
                                                    </button>

                                                    <button class="btn btn-link btn-danger  delete-product" data-id="@item.MaHh">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal to add new product -->
    <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="addRowModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title ms-auto" id="addRowModalLabel">Add New Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="post" action="@Url.Action("AddProduct", "Admin")">
                        <div class="mb-3">
                            <label for="productName" class="form-label">tên sản phẩm</label>
                            <input type="text" class="form-control" id="productName" name="TenHh" required />
                        </div>
                        <div class="mb-3">
                            <label for="productType" class="form-label">loại</label>
                            <select id="productType" name="MaLoai" class="form-control">
                                <option value="" disabled selected>Chọn loại</option>
                                @foreach (var type in (IEnumerable<EcomemerceASP_NET.ViewModels.LoaiVM>)ViewBag.Types)
                                {
                                    <option value="@type.MaLoai">@type.TenLoai</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="productDec" class="form-label">mô tả đơn vị</label>
                            <input type="text" class="form-control" id="productDec" name="MoTaDonVi" required />
                        </div>

                        <div class="mb-3">
                            <label for="productPrice" class="form-label">giá</label>
                            <input type="number" class="form-control" id="productPrice" name="DonGia" required />
                        </div>
                        <div class="mb-3">
                            <label for="productImage" class="form-label">ảnh sản phẩm</label>
                            <input type="text" class="form-control" id="productImage" name="Hinh" placeholder="vui lòng nhập đường dẫn ảnh" required />
                        </div>
                        <div class="mb-3">
                            <label for="productManufactureDate" class="form-label">Ngày sản xuất</label>
                            <input type="date" class="form-control" id="productManufactureDate" name="NgaySx" required />
                        </div>
                        <div class="mb-3">
                            <label for="productDiscount" class="form-label">Giảm giá</label>
                            <input type="number" step="0.01" class="form-control" id="productDiscount" name="GiamGia" required />
                        </div>
                        <div class="mb-3">
                            <label for="productDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="productDescription" name="MoTa" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="productSupplier" class="form-label">Nhà cung cấp</label>
                            <select class="form-control" id="productSupplier" name="MaNcc" required>
                                <option value="" disabled selected>Chọn nhà cung cấp</option>
                                @foreach (var supplier in (IEnumerable<EcomemerceASP_NET.ViewModels.NhaCungCapVM>)ViewBag.subs)
                                {
                                    <option value="@supplier.MaNcc">@supplier.TenCongTy</option>
                                }
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="btnAddProduct">Add Product</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal chỉnh sửa sản phẩm -->
    <div class="modal fade" id="editRowModal" tabindex="-1" aria-labelledby="editRowModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title ms-auto" id="editRowModalLabel">Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editProductForm" method="post" action="@Url.Action("UpdateProduct", "Admin")">
                        <input type="hidden" id="editProductId" name="MaHh" />
                        <div class="mb-3">
                            <label for="editProductName" class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="editProductName" name="TenHh" required />
                        </div>
                        <div class="mb-3">
                            <label for="editProductType" class="form-label">Loại</label>
                            <select id="editProductType" name="MaLoai" class="form-control">
                                <option value="" disabled selected>Chọn loại</option>
                                @foreach (var type in (IEnumerable<EcomemerceASP_NET.ViewModels.LoaiVM>)ViewBag.Types)
                                {
                                    <option value="@type.MaLoai">@type.TenLoai</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editProductDec" class="form-label">Mô tả đơn vị</label>
                            <input type="text" class="form-control" id="editProductDec" name="MoTaDonVi" required />
                        </div>
                        <div class="mb-3">
                            <label for="editProductPrice" class="form-label">Giá</label>
                            <input type="number" class="form-control" id="editProductPrice" name="DonGia" required />
                        </div>
                        <div class="mb-3">
                            <label for="editProductImage" class="form-label">Ảnh sản phẩm</label>
                            <input type="text" class="form-control" id="editProductImage" name="Hinh" required />
                        </div>
                        <div class="mb-3">
                            <label for="editProductManufactureDate" class="form-label">Ngày sản xuất</label>
                            <input type="date" class="form-control" id="editProductManufactureDate" name="NgaySx" required />
                        </div>
                        <div class="mb-3">
                            <label for="editProductDiscount" class="form-label">Giảm giá</label>
                            <input type="number" step="0.01" class="form-control" id="editProductDiscount" name="GiamGia" required />
                        </div>
                        <div class="mb-3">
                            <label for="editProductDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="editProductDescription" name="MoTa" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="editProductSupplier" class="form-label">Nhà cung cấp</label>
                            <select class="form-control" id="editProductSupplier" name="MaNcc" required>
                                <option value="" disabled selected>Chọn nhà cung cấp</option>
                                @foreach (var supplier in (IEnumerable<EcomemerceASP_NET.ViewModels.NhaCungCapVM>)ViewBag.subs)
                                {
                                    <option value="@supplier.MaNcc">@supplier.TenCongTy</option>
                                }
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <!-- DataTables Bootstrap Integration -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Bootstrap Integration -->
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        //datatable
        $(document).ready(function () {
            $('#ql_product').DataTable({
                language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiển thị _MENU_ dòng",
                zeroRecords: "Không tìm thấy kết quả",
                info: "",
                infoFiltered: "",
                paginate: {
                first: "&#60;&#60;",
                last: "&#62;&#62;",
                next: "&#8594;",
                previous: "&#8592;"
                    }
                },
                paging: true,   
                ordering: true, 
                info: true       
                });
            });
            //thêm sản phẩm
        $(document).ready(function () {
            $('#addRowModal form').on('submit', function (e) {
                e.preventDefault(); 

                Swal.fire({
                    title: 'Bạn có chắc chắn muốn thêm sản phẩm không?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Có, thêm!',
                    cancelButtonText: 'Không, hủy bỏ!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const formData = $(this).serialize();
                        const url = $(this).attr('action'); 

                        $.post(url, formData, function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: response.message,
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi!',
                                    text: response.message
                                });
                            }
                        });
                    }
                });
            });
        });
        //xóa sản phẩm 
        $(document).ready(function () {
            $('.delete-product').on('click', function (e) {
                e.preventDefault(); 
                const productId = $(this).data('id'); 
                const row = $(this).closest('tr');
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa sản phẩm này không?',
                    text: "Hành động này không thể hoàn tác.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Có, xóa!',
                    cancelButtonText: 'Không, hủy bỏ!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Admin/DeleteProduct',
                            type: 'POST', 
                            data: {
                                productId: productId,
                                _token: '{{ csrf_token() }}' 
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Xóa thành công!',
                                        text: response.message,
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                        row.remove();
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Lỗi!',
                                        text: response.message
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi!',
                                    text: 'Đã có sự cố khi xóa sản phẩm, vui lòng thử lại.'
                                });
                            }
                        });
                    }
                });
            });
        });
       
        $(document).ready(function () {
            // Khi nhấn nút edit-product
            $('.edit-product').on('click', function () {
                const productId = $(this).data('id');

                $(document).ready(function () {
                    $('.edit-product').on('click', function () {
                        const productId = $(this).data('id');

                        $.ajax({
                            url: '/Admin/GetProductById',
                            type: 'GET',
                            data: { id: productId },
                            success: function (response) {
                                if (response.success) {
                                    const product = response.data;

                                    $('#editProductId').val(product.MaHh);
                                    $('#editProductName').val(product.TenHh);
                                    $('#editProductType').val(product.MaLoai);
                                    $('#editProductDec').val(product.MoTaDonVi);
                                    $('#editProductPrice').val(product.DonGia);
                                    $('#editProductImage').val(product.Hinh);
                                    $('#editProductManufactureDate').val(product.NgaySx);
                                    $('#editProductDiscount').val(product.GiamGia);
                                    $('#editProductDescription').val(product.MoTa);
                                    $('#editProductSupplier').val(product.MaNcc);
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Lỗi!',
                                        text: response.message
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi!',
                                    text: 'Không thể lấy dữ liệu sản phẩm.'
                                });
                            }
                        });
                    });
                });


            $('#editProductForm').on('submit', function (e) {
                e.preventDefault();

                Swal.fire({
                    title: 'Bạn có chắc chắn muốn cập nhật sản phẩm này không?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Có, cập nhật!',
                    cancelButtonText: 'Không, hủy bỏ!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const formData = $(this).serialize(); 
                        const url = $(this).attr('action'); 

                        $.post(url, formData, function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: response.message,
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    location.reload(); 
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi!',
                                    text: response.message
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
 </div>